<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div class="content mat-elevation-z8">
      <button mat-button class="menu-button" (click)="sayHello()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
    </div>
    <div class="content mat-elevation-z8">
      <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Add Players</span>
      </button>
    </div>

    <mat-divider></mat-divider>

    <div class="content mat-elevation-z8">
      <button mat-button class="menu-button">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
  </mat-sidenav-content>

</mat-sidenav-container>
